.App
  {
    width: 100%;
    height: 100vh;
    padding:3%;
    box-sizing: border-box;
  }
.container 
  { 
    width: 100%;
    height: 100%;
    background-color: red;
    justify-content: center;
    display: flex;
  }
.left
  {
    width: 60%;
    height: 100%;
    background-color: red;
    position: relative;
  }
.header{
  width: 50%;
  height: 35%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25% 0 0 -35%;
}
.body{
  width: 75%;
  height: 25%;
  background-color: pink;
  position: absolute;
  top: 75%;
  left: 50%;
  margin: -20% 0 0 -35%;
}
.right
  {
    width: 40%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 30%;
  }
